# Assignment 5
### CS 150-01
### McKenzee Masters
### Version 1

## A)

In [1]:
Dic_Trans={'one':'un', 'two':'deux','three':'trois', 'four':'quatre', 'five':'cinq','six':'six','seven':'sept', 'eight':'huit', 'nine':'neuf', 'ten':'dix',
           'eleven':'onze', 'twelve':'douze', 'thirteen':'treize','fourteen':'quatorze', 'fifteen':'quinze','sixteen':'seize','seventeen':'dix-sept','eighteen':'dix-huit','nineteen':'dix-neuf','tweenty':'vingt'}
for eng, fren in Dic_Trans.items():
    print(eng + " in french is " + fren + ".")

one in french is un.
two in french is deux.
three in french is trois.
four in french is quatre.
five in french is cinq.
six in french is six.
seven in french is sept.
eight in french is huit.
nine in french is neuf.
ten in french is dix.
eleven in french is onze.
twelve in french is douze.
thirteen in french is treize.
fourteen in french is quatorze.
fifteen in french is quinze.
sixteen in french is seize.
seventeen in french is dix-sept.
eighteen in french is dix-huit.
nineteen in french is dix-neuf.
tweenty in french is vingt.

## B)

In [2]:
Temp_2022={'January':45, 'February':48, 'March':59, 'April':69, 'May':77, 
        'June':85, 'July':87, 'August':86, 'September':72,}
print(Temp_2022)

{'January': 45, 'February': 48, 'March': 59, 'April': 69, 'May': 77, 'June': 85, 'July': 87, 'August': 86, 'September': 72}

In [6]:
for month, temp in Temp_2022.items():
    Temp_2022[month]= (temp - 32) / 1.8
print(Temp_2022)

{'January': 7.222222222222222, 'February': 8.88888888888889, 'March': 15.0, 'April': 20.555555555555554, 'May': 25.0, 'June': 29.444444444444443, 'July': 30.555555555555554, 'August': 30.0, 'September': 22.22222222222222}

## C)

In [4]:
d = {}
for i in range(1,16):
    d[str(i)] = (i**2)
print(d)

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81, '10': 100, '11': 121, '12': 144, '13': 169, '14': 196, '15': 225}